#sonogram {
    background-color: white;
    display: flex;
    width: 100%;
    padding: 25% 0%;
    /*position: relative;*/

}

#sonogramImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    width: 100%;
}