#idenInfo {
    background-color: red;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
    width: 100%
}

audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#audioControls{

}