.App {
    height: 100vh;
    width: 100vw;
}

.identifier {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loading {
    align-items: center;
    height: 100%;
    font-size: 3em;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #fafafa;
}