#userGuess {
    margin: 0em 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
    position: relative;

} label {
    display: block;
    font-size: 2em;
    margin: .5em;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }
 input {
     /*background-color: red;*/
    width: 100%;
    display: block;
    font-size: 1em;
}

 #cheatButton {
     position: absolute;
     border: none;
     background-color: #dedede;
     font-weight: bold;
     border-radius: 5px;
     height: 2.5em;
     top: 0;
     right: 0;
 }

 #nextBirdButton {
     border: none;
     background-color: #009933;
     color: white;
     font-weight: bold;
     font-size: 1.2em;
     border-radius: 5px;
     padding: .5em 1em;
 }

 .guessDiv {
     border: 2px solid red;
 }

form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .textInput {
     font-size: 1.5em;
     width: 100%;
     font-family: "Lato", sans-serif;
 }

 .submitInput {
     width: 30%;
     border: none;
     margin: 1em;
     padding: .5em;
     background-color: lightgreen;
     font-weight: bold;
     border-radius: 5px;
 }

#feedback {
    font-size: 1.5em;
    position: relative;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin: .4em;
}

.incorrect {
    color: #cc0000;
}

.correct {
    color: #009933;
}