#idenInfo {
    text-align:center;
    display: flex;
    flex-direction: column;
    margin: 0em 2em;
}

#audioControls {
    position: relative;
    top: -3em;
}

#playPauseButton{
    height: 100%;
    width: 25%;
    max-width: 125px;
    font-size: 3em;
    border-radius: 50%;
    background-color: lightgreen;
    border: none;
    outline: none;
    position: relative;
    top: 0%;
    left: .1em;
}

#playPauseButton:before {
    background-color: blueviolet;
    content: "";
    float: left;
    padding-top: 100%;
}

svg {
    width: 100%;
    height: auto;
} .pause {
    position: absolute;
    left: -1%;
    top: -3%;
  }
  .play {
      position: absolute;
      left: 4%;
      top: -2%;
  }
